.weekdayText{
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    text-transform: uppercase;
}